

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body
{
    background-color: rgb(0, 0, 0);
}
.occ_container {
    background: rgba(163, 150, 150, 0.2);
    color: rgb(26, 25, 25);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 640px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: slideIn 1s ease-out;
}
.occ_title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    animation: fadeInBounce 1.5s ease-in-out;
    color: white;
    margin-bottom: 5%;
}

.occ_closeButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    
}
.occ_customFileLabel:hover {
    background-color: #e4dddd;
  }
.occ_formGroup label {
    font-size: 20px;
    font-weight: bold;
}

select,
input[type="date"],
input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 1%;
    text-align: center; 
    text-align-last: center;
}
.occ_t input[type="text"]
{
    background-color: rgb(3, 0, 0);
}
.occ_formGroup option{
    text-align: center; 
    text-align-last: center; 
  }

.occ_otherOccasionInput {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}


.occ_uploadContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.occ_uploadContainer input[type="file"] {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.occ_choiceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.occ_choiceBox {
    background-color: rgba(61, 60, 60, 0.352);
    color: rgb(224, 214, 214);
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    text-align: left;
    font-size: 16px;
    margin-bottom: 2%;
    text-align: left; 
    text-align-last: left; 
}

.occ_choiceBox input {
    width: 95%;
    padding: 4px;
    border-radius: 4px;
    border: none;
    margin-top: 2px;
    font-size: 12px;
}

.occ_buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.occ_button[type="submit"] {
    background-color: rgba(10, 73, 10, 0.765);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 48%;
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: -2%;
}

.occ_button[type="submit"]:hover {

    background-color: darkgreen;
}

.occ_button[type="button"] {
    margin-top: 5%;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 48%;
    font-size: 14px;
    margin-bottom: -2%;
}

.occ_button[type="button"]:hover {
    background-color: darkred;
}

.occ_error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 3px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: white;

}
.H1 label strong
{
    text-align: center;
}
